:root {
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
  --grey-color: #f4f4fd;
  --active-color: #404bbf;
  --border-color: #e7e9fc;
  --border-icon-color: #8e8f99;
  --social-icon: #f4f4fd;
  --modal-color: #fcfcfc;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 428px;
  --tablet: 768px;
  --desktop: 1158px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--white-color);
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/**-------------------------------LOGO--------------------------------*/
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo .studio {
  color: var(--secondary-color);
}

.footer .logo {
  color: var(--accent-color);
}

.footer .studio {
  color: var(--grey-color);
}

/**-----------------------------HEADER-----------------------------------  */
.page-header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* Hero section */

.section.hero {
  background-color: var(--secondary-color);
  text-align: center;
  max-width: 1440px;
  padding-top: 112px;
  padding-bottom: 112px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--white-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 320px;
  height: 80px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.button {
  cursor: pointer;
  display: block;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button.primary {
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  color: var(--white-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--active-color);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section.propositions {
  padding-top: 0;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: var(--secondary-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.ourteam .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.propositions {
  display: none;
}

/**--------------------ADVANTAGES------------------------  */

.div-icon-advantages {
  display: none;
}

.advantages .li-item:not(:last-child) {
  margin-bottom: 72px;
}

/**---------------------OURTEAM------------------------------  */

.ourteam {
  background-color: var(--grey-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ourteam .list > .li-item {
  max-width: 264px;
  max-height: 428px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-left: auto;
  margin-right: auto;
}

.ourteam .worker {
  padding: 32px 0;
}

.ourteam .text {
  margin-bottom: 8px;
}

.ourteam .list > .li-item:not(:last-child) {
  margin-bottom: 72px;
}

.ourteam .social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list .li-item {
  width: 40px;
  height: 40px;
}

.social-list .link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.icon-social {
  fill: var(--social-icon);
}

.worker .link:hover,
.worker .link:focus {
  background-color: var(--active-color);
}

/**-------------------------CUSTOMERS---------------------------  */

.customers .list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.customers .li-item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.customers .link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--border-icon-color);
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.customers .link:hover,
.customers .link:focus {
  border-color: var(--active-color);
  color: var(--active-color);
}

.icon-logo {
  fill: currentColor;
}

/**--------------------------FOOTER--------------------------------  */

.footer {
  background-color: var(--secondary-color);
  padding: 96px 0;
}

.footer-logo {
  width: 268px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.footer-logo .text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.social-footer {
  text-align: center;
  margin-bottom: 72px;
}

.footer-logo .logo {
  display: flex;
  justify-content: center;
}

.social-footer-title {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer .social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-footer .link:hover,
.social-footer .link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  text-align: center;
}

.form-subscribe {
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.form-subscribe-input {
  height: 40px;
  max-width: 398px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.form-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  height: 40px;
  min-width: 165px;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--white-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--active-color);
}

.icon-send {
  fill: currentColor;
}

/**---------------------------- Modal--------------------------- */

.page-header.container {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 392px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--border-color);
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}
.icon-close {
  fill: var(--secondary-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--active-color);
  border: none;
}
.button-modal:hover .icon-close,
.button-modal:focus .icon-close {
  fill: var(--white-color);
}

/**----------------------MODAL FORM-----------------------  */

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--border-icon-color);
  letter-spacing: 0.01em;
}
.modal-form-label:nth-child(1) .modal-form-text {
  letter-spacing: 0.04em;
}

.modal-title {
  margin: 0;
  margin-bottom: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.modal-form-label {
  display: flex;
  flex-direction: column;
}

.icon-modal {
  fill: var(--secondary-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-form-label:focus-within .icon-modal {
  fill: var(--accent-color);
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding: 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-form-label:focus-within .modal-form-input {
  border-color: var(--accent-color);
}

.form-textarea {
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-form-label:focus-within .form-textarea {
  border-color: var(--accent-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-field {
  position: relative;
}

.icon-man {
  position: absolute;
  top: 11px;
  left: 16px;
}

.icon-tel {
  position: absolute;
  top: 8px;
  left: 16px;
}

.icon-email {
  position: absolute;
  top: 8px;
  left: 16px;
}

.modal-form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.modal-checkbox-text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-icon-color);
}

.checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function),
    outline-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox-hidden:focus ~ .checkbox-icon {
  outline-color: var(--active-color);
}

.icon-checked {
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.checkbox-hidden:checked + * .icon-checked {
  opacity: 1;
}

.checkbox-hidden:checked ~ .checkbox-icon {
  background-color: var(--active-color);
  border-color: transparent;
  outline-color: var(--white-color);
  /* background-image: url('../images/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box; */
}

.policy-link {
  color: var(--accent-color);
}

.send-btn {
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.send-btn:focus,
.send-btn:hover {
  background-color: var(--active-color);
}

/**-----------------------TABLET--------------------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .modal {
    width: 408px;
  }
  /**-------------------------------------PAGE_HEADER-------------------  */
  .page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav .list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
  .nav .list .link,
  .address .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }

  .nav .link:hover,
  .nav .link:focus,
  .address .link:hover,
  .address .link:focus {
    color: var(--active-color);
  }
  .nav .link {
    position: relative;
  }

  .nav .current-page {
    color: var(--active-color);
  }

  .nav .current-page::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
  }
  .address .link {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    padding: 0;
  }
  .address .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
  }
  /**----------------------------SECTIONS------------------------  */

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
  }

  .advantages .list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .advantages .list > .li-item {
    flex-basis: calc((100% - 24px) / 2);
    margin: 0;
  }

  .ourteam .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .ourteam .list > .li-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }

  .customers .list {
    gap: 24px;
  }

  .customers .li-item {
    width: calc((100% - 48px) / 3);
  }
  .footer .container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .footer-logo {
    width: 264px;
    margin: 0;
  }

  .social-footer {
    margin: 0;
    margin-left: 24px;
  }

  .footer-subscribe {
    margin-top: 72px;
  }

  .form-subscribe {
    max-width: 453px;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .footer-subscribe,
  .social-footer-title {
    text-align: start;
  }
  .footer-logo .logo {
    display: inline-block;
  }
  .form-subscribe-input {
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section.hero {
    height: 436px;
  }
  .customers {
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer {
    padding-left: 108px;
  }
}

/**-----------------------DESKTOP--------------------------------  */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .address .link {
    font-size: 16px;
    line-height: 1.5;
  }
  .address .list {
    flex-direction: row;
    gap: 40px;
  }

  .nav .list {
    margin-left: 76px;
  }

  .section.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    height: 600px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .div-icon-advantages {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--social-icon);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .section.advantages .li-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text {
    font-weight: 500;
  }

  .propositions {
    display: block;
  }
  .propositions .list {
    display: flex;
    gap: 24px;
  }
  .section.propositions .li-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .section.ourteam .list .li-item {
    margin: 0;
  }

  .section.ourteam .list > .li-item {
    flex-basis: calc((100%-72px) / 4);
  }
  .customers .li-item {
    width: calc((100% - 120px) / 6);
  }

  .footer .container {
    flex-wrap: nowrap;
  }

  .social-footer {
    margin-left: 120px;
  }

  .footer-subscribe {
    margin: 0;
    margin-left: 80px;
  }
}
